<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

<body>
    <div class="wrapper">
        <!-- HEADER -->
        <header class="header">
            <h1>Project</h1>
        </header>
        <!-- ---- -->
        <!-- MAIN -->
        <!-- Project table -->
        <div class="table-container">
            <div class="table">
                <div class="table-row">
                    <div class="cell-wrapper">
                        <div class="table-cell table-cell--small">
                            <input class="custom-checkbox" id="custom-checkbox-1" type="checkbox" value="value1">
                            <label for="custom-checkbox-1"></label>
                        </div>
                        <div class="table-cell table-cell--alt">
                            <span>#</span>
                        </div>
                    </div>
                    <div class="table-cell table-cell--alt">
                        <span>Client</span>
                    </div>
                    <div class="table-cell table-cell--alt">
                        <span>Status</span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="cell-wrapper">
                        <div class="table-cell table-cell--small">
                            <input class="custom-checkbox" id="custom-checkbox-2" type="checkbox" value="value2">
                            <label for="custom-checkbox-2"></label>
                        </div>
                        <div class="table-cell">
                            <span>PROJECT #1723</span>
                        </div>
                    </div>
                    <div class="table-cell">
                        <span>
                            Stella
                        </span>
                    </div>
                    <div class="table-cell">
                        <select class="project-status" name="project-status">
                            <option value="Sent">Sent</option>
                            <option value="Draft">Draft</option>
                        </select>
                    </div>

                </div>
                <div class="table-row table-row--alt">
                    <div class="cell-wrapper">
                        <div class="table-cell table-cell--small">
                            <input class="custom-checkbox" id="custom-checkbox-2" type="checkbox" value="value2">
                            <label for="custom-checkbox-2"></label>
                        </div>
                        <div class="table-cell">
                            <span>
                                PROJECT #1723
                            </span>
                        </div>
                    </div>
                    <div class="table-cell">
                        <span>
                            Stella
                        </span>
                    </div>
                    <div class="table-cell">
                        <select class="project-status" name="project-status">
                            <option value="Sent">Sent</option>
                            <option value="Draft">Draft</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Projects list  -->
        <ul class="projects-list">
            <li class="projects-list__item">
                <div class="image image-chess"></div>
                <h3>Project #1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur officia est iste a
                    impedit
                    velit, alias quidem minima ipsum sint doloribus esse voluptatem voluptatibus illum sed
                    quo
                    nesciunt architecto optio?</p>
            </li>
            <li class="projects-list__item">
                <div class="image image-star"></div>
                <h3>Project #1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur officia est iste a
                    impedit
                    velit, alias quidem minima ipsum sint doloribus esse voluptatem voluptatibus illum sed
                    quo
                    nesciunt architecto optio?</p>
            </li>
            <li class="projects-list__item">
                <div class="image image-rounded-star"></div>
                <h3>Project #1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur officia est iste a
                    impedit
                    velit, alias quidem minima ipsum sint doloribus esse voluptatem voluptatibus illum sed
                    quo
                    nesciunt architecto optio?</p>
            </li>
            <li class="projects-list__item">
                <div class="image image-triangle"></div>
                <h3>Project #1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur officia est iste a
                    impedit
                    velit, alias quidem minima ipsum sint doloribus esse voluptatem voluptatibus illum sed
                    quo
                    nesciunt architecto optio?</p>
            </li>
        </ul>
        <!-- ---- -->
        <!-- Form -->
        <form name="projectForm" class="form-wrapper">
            <h3>Add Project</h3>
            <div class="project-form">
                <div class="project-form__item">
                    <label for="name" class="project-form__label">Name<span class="required">*</span></label>
                    <input type="text" name="name" required>
                </div>
                <div class="project-form__item">
                    <label for="client" class="project-form__label">Client<span class="required">*</span></label>
                    <input type="text" name="client" required>
                </div>
                <div class="project-form__item">
                    <label for="email" class="project-form__label">Email<span class="required">*</span></label>
                    <input type="email" name="email" required>
                </div>
                <div class="project-form__item">
                    <div class="select-wrapper">
                        <label class="project-form__label">Admin<span class="required">*</span></label>
                        <select class="user-role" name="user-role">
                            <option value="Admin">Admin</option>
                            <option value="Guest">Guest</option>
                        </select>
                    </div>
                </div>


                <div class="project-form__item">
                    <button type="" class="btn btn--transparent">Cancel</button>
                    <button type="submit" class="btn">Add</button>
                </div>
            </div>
        </form>
        <!-- ---- -->
        <!-- FOOTER -->
        <footer class="bg-light">
        </footer>
    </div>
    <!-- ---- -->
    <script src="../static/js/main.js"></script>
</body>

</html>