// Color system
$white:         #ffffff;
$black:         #1a171b;
$gray:          #c1c1be;
$light-gray:    #f7f7f7;
$extra-light-gray: #cecece;
$text-gray:     #6d6e71;
$yellow:        #faed4c;
$light-yellow:  #f1e76e;
$blue:          #576a86;
$light-blue:    #4c6b89;
$dark-blue:     #112a42;
$text-blue:     #243244;
$red:           #d11515;

// Body
$font-family-sans-serif: 'Roboto', sans-serif;

// Border-radius
$border-radius:              5px;

